.descim{
    display:flex;
    flex-direction: row;
}
.one{
/* box-shadow: 1px 1px black; */
box-sizing: border-box;
    border:2px solid rgb(218, 218, 218);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.image{
    box-shadow: 1px 1px black;
    background-color:black;
}
.image img{
    margin-left:100px;
}
.detail{
    /* box-shadow: 1px 1px 1px 1px grey; */
    box-sizing: border-box;
    border:2px solid rgb(218, 218, 218);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.description{
    box-sizing: border-box;
    border:2px solid rgb(218, 218, 218);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.imasect{
    margin-bottom:60px;
}
.left{
    margin-left:10px ;
    margin-right:10px ;

}
.big{
    font-size:20px;
    color:grey;
}
.right{
    /* display:flex;
    flex-direction: row; */
}
.pricetag,.sellerdesc,.postedin{

    box-sizing: border-box;
    border:2px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.priceinner,.sellerinner,.innerpost{
    margin-left:10px;
    margin-right:10px;
    margin-top: 20px;
}

.btnseller{
    width:100%;
    height:40%;
    background-color: rgb(2, 77, 58);
    color:white;
    font-size: large;
}

.imgad{
    box-shadow: 1px 1px black;

}

.headcat{
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.posts{
    box-sizing: content-box;
    border:1px solid black; 
}
.headcategory{
    font-size: larger;
    font-weight: bolder;
    margin-left: 40px;
    margin-top:10px;
    font-size: 19px;
    
}
ul li{
    border-top:1px solid black; 
    border-left:1px solid black; 
    border-right:1px solid black; 
    border-collapse: separate;
    padding:10px;
    width:30%;
}
.last{
    border-bottom:1px solid black; 

}